<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../../libs/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<style>
.reg{
	border:1px,solid black;
	position:absolute;
	padding:15px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:40%;
	height:350px;
	box-shadow:0 0 3px #ddd;
}
.reg input{
	margin-top:5px;
	width:90%;
}
</style>
<body>
<form action='' method="post" class="form-horizontal reg">
原密码:<input type="text" name=pwd2 value="{$data[0]->pwd}" class="form-control">
用户名：<input type="text" name="username" value="{$data[0]->username}" class="form-control"><br>
密码：<input type="password" name="pwd" value="{$data[0]->pwd}" class="form-control"><br>
email：<input type="text" name="email" value="{$data[0]->email}" class="form-control"><br>
<input type="submit" name="send" value="submit" class="btn btn-default">
</form>

</body>
</html>